.comment {
  margin: 20px 0;
  padding: 20px;
  border: 2px solid #66ff66;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.comment .text p {
  font: 14pt 'Source Sans Pro', sans-serif;
}

.comment .title h1 {
  font: bold 14pt 'Source Sans Pro', sans-serif;
}

.comment .title,
.comment .about_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.comment .about_user .author p {
  font: italic 14pt 'Source Sans Pro', sans-serif;
}

.comment .about_user .view_profile a {
  font: 14pt 'Source Sans Pro', sans-serif;
}