# debug
npm-debug-log
debug.log
src/npm-debug-log
src/debug.log

# dependencies
node_modules/
src/node_modules/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

client/app/**/*.js
client/app/**/*.js.map