footer {
  background: #66ff66;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 0;

  .container {
    p {
      font: 16pt 'Source Sans Pro', sans-serif;
      text-align: center;
      color: white;
    }

    .footer-icons {
      margin: 0 auto;
      display: table;
    }

    .github i {
      -webkit-transition: -webkit-transform 0.4s;
      transition: transform 0.4s;

      &:hover {
        color: white;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
      }
    }
  }
}