<div *ngFor="let comment of comments; let index = index">
        <div class="comment">
            <div class="title">
                <h1>{{comment.title}}</h1>
                <div *ngIf="flag && username == comment.author">
                    <div class="actions">
                        <a class="btn btn-primary" [routerLink]="['edit', comment._id ]">Edit</a>
                        <button class="btn btn-danger" (click)="remove(comment._id, index)">Delete</button>
                    </div>
                </div>
            </div>
            <div class="text">
                <p>{{comment.text}}</p>
            </div>
            <div class="about_user">
                <div class="author">
                    <p>{{comment.author}}</p>
                </div>
                <div class="view_profile">
                    <a class="btn btn-success" (click)="view(index)">View Profile</a>
                </div>
            </div>
        </div>
</div>