<div class="container">
    <div class="row">
        <div class="col-lg-8 col-xs-12">
            <comment-list></comment-list>
        </div>
        <div class="col-lg-4 col-xs-12">
            <div class="sidebar">
                <h1><b>Last five registered users</b></h1>
                <div>
                    <div *ngFor="let user of users">
                        <a [routerLink]="['/user/' + user.username]">{{user.username}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>